<a href="https://colab.research.google.com/github/rogeriocgp/Udemy---Estudos-de-Python-3/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**UDEMY**

Aula 25 - Primeiro exemplo
Atalho para rodar o programa : **Ctrl + enter**

In [ ]:
print("Olá mundo!")
print("primeiro programa")
print(2 + 3 + 6)

help(print)

Aula 26 - Tipos básicos

In [ ]:
print("True")     #Tipo boolean
print("False")
print(1.2 + 1)     # Tipo float
print("A vida é bela.")
print("Você é " + 3 * " muito " + " legal ") # concatenação
# print(3 + "3")     # Erro , dá uma ambiguidade
print([1, 2, 3])     # Tipo Lista. Ela é indexada
print({"nome": "Pedro", "idade": 22})    # Tipo dicionário é uma estrutura chave valor
print(None)    # Tipo None é ausência de valor

**Aula 27 - Variáveis**

In [ ]:
a = 10  # atribuição na variável
b = 5.2

print(a + b)
print(type(b))

15.2
<class 'float'>

**Aula 28 - Comentários**

In [ ]:
# Atalho para comentários : Ctrl + /
salario = 3450.45
despesas = 2456.2

print(salario - despesas)

"""
Comentário com
várias linhas.
"""

**Aula 29 - Operadores aritméticos**

In [ ]:
print(2 + 3)
print(4 - 3)
print(2 * 5.3)
print(9.4 / 3)     #Divisão
print(9.4 // 3)    #Divisão inteira
print(2 ** 8)      #Potenciação
print(10 % 3)      #Resto da divisão

a = 12
b = a
print(a + b)

5
1
10.6
3.1333333333333333
3.0
256
1
24

**Aula 30 e 31- Desafio operadores aritméticos**

In [ ]:
#Quantos porcentos está comprometido do seu salário com as despesas?

salario = 3450.45
despesas = 2456.2

percentual_comprometido = despesas / salario * 100
print(percentual_comprometido)

71.18491790925822

**Aula 32 - Operadores relacional**

In [ ]:
print(3 > 4)
print(4>= 3)
print(1 < 2)
print(3 <= 1)
print(3 != 2)    # diferente
print(3 == 3)    # igual
print(2 == 3)
print(2 == "3")

False
True
True
False
True
True
False
False

**Aula 33 - Operadores de atribuição**

In [ ]:
a = 3
a = a + 7
print(a)
a += 5 #acrescentar 5 no valor 10, que é igual a fazer a = a + 5
print(a)

a -= 3
print(a)

a *= (a)
print(a)

a /= 4
print(a)

a %= 4
print(a)

a **= 8
print(a)

a //= 256
print(a)

10
15
12
144
36.0
0.0
0.0
0.0

**Aula 34 - Operadores lógicos**

In [ ]:
True or False
7 != 3 and 2 > 3

# Tabela verdade do AND

True and True
True and False
False and True
False and False

#Tabela verdade do OR

True or True
True or False
False or True
False or False

#Tabela verdade do XOR

True != True
True != False
False != True
False != False

# Operador de negação

not True
not False

not 0
not 1
not not -1
not not True

**Aula 35 e 36 Desafio Operadores Lógicos**

In [ ]:
# Desafio operadores lógicos
trabalho_terca = True
trabalho_quinta = False

"""
-confirmando os dois: 50' + Sorvete
- Confirmando apenas um: TV 32' + Sorvete
-Nenhum confirmado: Fica em casa
"""

tv_50 = trabalho_terca and trabalho_quinta
sorvete = trabalho_terca or trabalho_quinta
tv_32 = trabalho_terca != trabalho_quinta   # xor
mais_saudavel = not sorvete

print("tv50={} Sorvete={} Saudável={}"
.format(tv_50, tv_32, sorvete, mais_saudavel ))

"{0}, {2} = {1}".format(1, False,"resultado")

**Aula 37 - Operadores unários**

**40 - Builtins**

É de onde vem as funções dir, help, type, print etc....

In [ ]:
nome = "Cesar"
type(nome)
_builtin_.len(nome)

**Aula 41 - Conversão de tipos**

In [ ]:
2 + 3
"2" + "3" # concatenação

#print(2 + "3") # dá erro

a = 2
b = "3"

print(type(a))
print(type(b))

print(a + int(b)) # converteu b de str pata int

print(2 + float("3.4"))

<class 'int'>
<class 'str'>
5
5.4

** *texto em itálico*Aula 42 - Converção automática**

In [ ]:
10 / 2
type(10 / 3)

10 // 3
type(10 // 3)

int

**Aula 43 - Números #01**

In [ ]:
dir(int)
dir(float)

a = 5
b = 2.5
a / b

**Aula 44 - Números #02**

In [ ]:
#1.1 + 2.2
from decimal import Decimal, getcontext
Decimal(1) / Decimal(7)

getcontext().prec = 4
Decimal(1) / Decimal(7)
Decimal.max(Decimal(1), Decimal(7))

Decimal('7')

**Aula 45 - Strings #01**

In [ ]:
dir(str)
nome = "Saulo Pedro"   #String é indexada e não pode ser modificada

# 'marca D'água' # Dá erro

"marca D'Ávila"  ==  'marca d\'Avila' #  \ iscaipe

doc = """Texto com múltiplas
...linhas"""
doc

print('Texto com múltiplas\n... linhas')
print(doc)

Texto com múltiplas
... linhas
Texto com múltiplas
...linhas

**Aula 46 - #02**

In [ ]:
nome = "Ana Paula"
nome[0]  # Acessando a lêtra que está no ídice
nome[6]
nome[-1]
nome[4:]  #para acessar um range, um conjunto de lêtras
nome[:-5]

nome = "1234567890"
nome[::2] # steep 13579
nome[::-2]

'08642'

Aula 47 #03

In [ ]:
frase = "Python é uma linguagem excelente"
#"py" in frase"
"py" not in frase
len(frase)  # ver o número de cacteres
frase.lower() #colocar a frase com lêtras minúsculas

frase.split()
frase.split("e") # retira todas as lêtras "e" da frase

['Python é uma linguag', 'm ', 'xc', 'l', 'nt', '']

**Aula48 #04**

In [ ]:
# Métodos mágicos
_add_(b)

**Aula 49 - Listas #0**1

In [ ]:
lista = []
type(lista)
dir(lista)
# help(list)
len(lista)    # ver o tamanho da lista
lista.append(1) #introduz um número a lista
lista.append(5)
lista.append([1, 2, 3]) #Colocar uma lista dentro de outra lista
lista
len(lista)

nova_lista = [1, 5, "Ana", "Bia"]
nova_lista
nova_lista.remove(5) #removendo o item 5
nova_lista
nova_lista.reverse() #altera a ordem da lista
nova_lista

lista

[1, 5, [1, 2, 3]]

**Aula 50 - Lista #02**

In [ ]:
lista = [1, 5, "Rebeca", "Guilherme", 3.1415]
lista.index("Guilherme") # Achar a posição de Guilherme na lista pelo seu índice

#Não acesssar um elemento fora da lista que dá erro

lista[2]  # Saber quem está na posição indice 2 da lista
lista[-1]

3.1415

Aula 51 - Lista #03

In [ ]:
lista = ["Ana", "Lia", "Rui", "Paulo", "Dani"]
lista[1:3]
lista[:]
lista[::-1]
del lista[2]  #excluir o objeto do índice 2
lista

['Ana', 'Lia', 'Paulo', 'Dani']

**Aula 52 - Tuplas**

In [ ]:
# A Tupla é uma sequqência imutável. (Tuple is an immutable sequence) - Tuplas são uma sequência (grupo ordenado)
# de elementos (items) separados por vírgulas, delimitados ou não por parênteses, isto é, os parênteses não são obrigatórios.
# Pode-se ainda misturar elementos de tipos diferentes. Porém, ao contrário de listas, as tuplas são imutáveis.

tupla = tuple()
tupla = ()
dir(tupla)
# help(tupla)
type(tupla)
tupla = ('um',) # é uma tupla . Assim : tupla = ('um') é uma str

cores = ('verde', 'amarelo', 'azul', 'azul', 'branco')
cores[0]
cores[-1] # Acessando elemento de ídice -1
cores.index("amarelo")   # saber qual o indice é do elemento
cores.count('azul')  #saber quantos elementos escrito azul tem na tupla
len(cores)  # Sabaer quantos elementos tem na tupla

#Obs: A tupla não pode ser modificada e a lista pode.
# A sintaxe da lista é colchete e da tupla é parênteses

5



```
# Isto está formatado como código
```

**Aula 53 - Dicionário #0**1

è uma estrutura chave / valor

In [11]:
pessoa = {"nome": "Prof(a). Ana", "idade": 38, "cursos": ["Inglês", "Português"]}
type(pessoa)
dir(dict)
len(pessoa) # para ver a quantidade de pares chave/valor
pessoa ["idade"]
pessoa.keys()  # pegar as chaves do dicionério
pessoa.values()  pegando os valores no dicionário

dict_values(['Prof(a). Ana', 38, ['Inglês', 'Português']])